<link rel="stylesheet" href="{{ "css/bootstrap.css" | relURL }}" as="style">
<link rel="stylesheet" href="{{ "css/bootstrap-responsive.css" | relURL }}" as="style">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" as="style">
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}
<script src="{{ "js/jquery.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-386.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-transition.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-alert.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-modal.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-dropdown.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-scrollspy.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-tab.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-tooltip.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-popover.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-button.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-collapse.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-carousel.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-typeahead.js" | relURL }}" defer></script>
<script src="{{ "js/bootstrap-affix.js" | relURL }}" defer></script>
<script>
    _386 = {
        fastLoad:{{ .Site.Params.loadfastload }},
        onePass:{{ .Site.Params.loadonepass }},
        speedFactor:{{ .Site.Params.loadspeedfactor }}
    };

    // Free updated script to get the actual year !! no more document.write or stuff!!
    function ThisYear() {
        document.getElementById('thisyear').innerHTML = new Date().getFullYear();
    };

    // Update year on page load
    document.addEventListener("DOMContentLoaded", function() {
        ThisYear();
    });
</script>
{{- range .Site.Params.customJS }}
<script src="{{ . | relURL }}" defer></script>
{{- end }}
