<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" style="background-color: black;">
    {{- partial "head.html" . -}}
    <body>
        <div id="loader">
            <div>LOADING <span class="spinner"></span></div>
        </div>

        <div id="page-content" style="display: none;">
            {{- partial "header.html" . -}}
            <div id="content" class="container">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
    {{- partial "scripts.html" . -}}
</html>
